# HEMTT
.hemtt/missions/~*
.hemttout/
.hemttprivatekey
hemtt.exe
releases/

# Textures
*.png
*.psd
*.spp
*.spp.painter_lock
Exports/

# Music
*.ogg
*.wav

# Other
*.biprivatekey
*.blend*
*.fbx
*.pbo
*.sqfc
*.zip

# Arma 3 Server Configuration
*conf.ini
ARMA3_INTEGRATION.md
arma3_player_profiles.md
server.cfg
modlist_output.txt
modlist.html
