# HEMTT
hemtt.exe
.hemtt/missions/~*
.hemttout/
releases/
.hemttprivatekey

# Textures
Exports/
*.spp
*.spp.painter_lock
*.psd

# Music
*.ogg
*.wav

# Other
*.biprivatekey
*.zip
*.pbo
*.sqfc

# Arma 3 Server Configuration
server.cfg
*conf.ini
